body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbZORV_Fs3dy4hoZSR9sCL4Kt_jrNshbXCNQ&s');
    background-attachment: fixed;
    background-size: cover;
    margin: 100px 0px 0px 0px;
}

